@import '../styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;

}

.app_header {
  text-align: center;
}

.app_img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: translateY(-50px);
}

.app_hello {
  transform: translateY(-25px);
}

.section_h2 {
  color: red;
  margin: 20px 0px 20px 0px;
}

.body_year {
  font-weight: bold;
  font-size:10px;
  margin-right: 60px;
}



.body_year_after_text_bold{
  font-weight: bold;
  font-size:10px;
}
.body_year_after_text{
  margin-top:10px;
}

.body_year_event{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body_year_event_div2{
  padding:10px 10px 10px 10px;
  background-color: #ededed;
}